<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />
    
    <!-- Vibration permission for haptic feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WealthWearApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:targetApi="35">

        <activity
            android:name=".ui.MainWearActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tiles.WealthTileService"
            android:exported="true"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.WealthDataListenerService"
            android:exported="true">
            <!-- Data layer change events -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/" />
            </intent-filter>
            <!-- Direct messages from phone -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/" />
            </intent-filter>
            <!-- Capability changes (optional, useful for availability) -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.wearable.node.capabilities"
            android:resource="@xml/wear_capabilities" />
            
        <!-- Wear standalone app configuration -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

    </application>

</manifest>

